In [7]:
import random
import pandas as pd

Import class roster

In [13]:
class_roster = pd.read_csv('class_roster.csv')[['Name','E-mail','Major']]

Randomly order class roster for proposal presentations. Set the seed at 123.

In [40]:
class_roster[['Name']].sample(frac = 1,random_state = 123)

                         Name
4        GAO, LILIAN (YUEYAN)
11               SHU, JANELLA
14              YANG, AH SUNG
8   KOSCINSKI, TANNER MICHAEL
5                HUANG, ZIHAO
7                  JIANG, SHU
0            CHEN, JOY QIAOYI
15              ZHANG, HAORUI
17                  ZHU, LEON
9               SANDERS, COLE
10                SHI, YUNFAN
3      ERICKSON, KALEB JULIAN
1                    CHEN, YI
6            HUYNH, ANNA NGOC
16               ZHOU, YICHEN
12               TANG, HUILIN
2                  DOTAN, GUY
13                 WILKS, ASA